
<h2 mat-dialog-title class="custom-dialog-title">Regitro de Usuario</h2>
<div class="login-container">
    <div>
        <form (ngSubmit)="registerUser()" class="login-box" [formGroup]="loginForm">
          <!-- Tu formulario de edición de tareas aquí -->
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username"  placeholder="Ingrese su Usuario"  formControlName="username" required>
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Ingrese su Email"  formControlName="email" required>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Ingrese su Contraseña" formControlName="password" required>
          </div>
          <button name="buttonnotForm" type="submit">Guardar Cambios</button>
          <button type="button" (click)="closeDialog()" >Cancelar</button>  
        </form>      
      </div>
</div>

