<div class="example-container mat-elevation-z8">
    <button mat-flat-button color="primary" [routerLink]="['/']">
        <mat-icon>arrow_back</mat-icon>
      </button>
    <h2>Datos del Usuario</h2>
    
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/user']"><mat-icon>account_circle</mat-icon></a>
    </div>
    <div class="user-info" >
      <p>ID: {{ userLogged.id }}</p>
      <p>Username: {{ userLogged.username }}</p>
      <p>Email: {{ userLogged.email }}</p>
      <p>Password: 
        <span *ngIf="showPassword">{{ userLogged.password }}</span>
        <span *ngIf="!showPassword">*****</span>
        <button (click)="toggleShowPassword()">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </p>
      <p>isAdmin: {{ userLogged.isAdmin ? 'Yes' : 'No' }}</p>
    </div>
  
    <!-- Botón de Edición -->
  <div class="edit-button">
    <button mat-flat-button color="accent" (click)="editUser(userLogged)">
      <mat-icon>edit</mat-icon> Editar
    </button>
  </div>

</div>
  