<div class="container-principal">
  <main>
    <div class="container">
      <img src="../../../../assets/avatar-659651_1280.png" alt="user" width="300px" height="300px" class="user">
      <h4>Nombre del Usuario : {{userLogged.username}}</h4>
      <h5>Argentina / Mar del Plata</h5>
    
      <p>Identificacion: {{userLogged.id}}</p>
    
      <div class="buttons">
        <button class="main-btn"  (click)="editUser(userLogged)">Editar</button>
        <button class="main-btn second material" (click)="toggleShowPassword()">Ver PassWord
        </button>
      </div>

      
      <div class="skills">
        <h5>Datos del Usuario</h5>
        <hr>
        <ul>
          <li class="email">Email : {{userLogged.email}}</li>
          <li class="pass">Password : <span *ngIf="showPassword">{{ userLogged.password }}</span>
            <span *ngIf="!showPassword">*****</span></li>
          <li class="admin">Admin : {{ userLogged.isAdmin ? 'Yes' : 'No' }}</li>
        </ul>
      </div>
    
    
    </div>
  </main>
</div>


