<h2>Lista de Cines</h2>
<table style="text-align: center;">
<thead>
    <tr>
        <th>Identifiacion</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Salas</th>
        <th>Eliminar</th>
        <th>Editar</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of listaCines">
        <td>{{item.idCinema}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.cantidadSalas}}</td>
        <td><button (click)="DeleteProduct(item.idCinema!)">X</button></td>
        <td><button (click)="EditProduct(item)">E</button></td>
    </tr>
</tbody>
</table>