<app-nav-bar-not-login *ngIf="!isUserLoggedIn"></app-nav-bar-not-login>
<app-nav-bar-login *ngIf="isUserLoggedIn"></app-nav-bar-login>
<div class="contenedor-principal">
  <div class="datatable-container mat-elevation-z20">
      <div class="header-tools">
          <div class="tools">
              <ul>
                  <li>
                    <div *ngIf="isAdmin">
                        <button (click)="NavigateToAdd()" >
                            Agregar Funcion
                            <i class="material-icons">add_circle</i>
                        </button>
                    </div>
                  </li>
              </ul>
          </div>
          <div class="search">
              <input type="text" class="search-input" placeholder="Buscar Funcion..." [(ngModel)]="funcionBuscada"  (input)="onInputChange()" > 
          </div>   
      </div>
      <table class="datatable">
          <thead>
              <th>Pelicula</th>
              <th>Sala</th>
              <th>Horario</th>
              <th>Fecha</th>
              <th>Precio</th>
              <th class="d-flex justify-content-center">Acciones</th>
              <th></th>
          </thead>
          <tbody>
              <tr *ngFor="let item of listShows">
                  <td>{{item.nombrePelicula}}</td>
                  <td>{{item.sala}}</td>
                  <td>{{item.horarios}}</td>
                  <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
                  <td>{{item.precio}}</td>
                  <div *ngIf="isAdmin">
                    <td >
                        <button class="botonMaterial" (click)="EditCine(item)" >
                            <i class="material-icons">edit</i>
                        </button>            
                    </td>
                    <td >
                        <button class="botonMaterial" (click)="DeleteShowtime(item.id!)">
                            <i class="material-icons">delete</i>
                        </button>            
                    </td>
                  </div>
                  <div *ngIf="!isAdmin" class="d-flex justify-content-center" >
                    <button class="botonMaterial " matTooltip="Comprar" (click)="goToAddTicket(item)">
                        <span class="material-icons ">
                            shopping_cart
                        </span>
                    </button> 
                  </div>
              </tr>           
          </tbody>
      </table>
      <div class="footer-tools">
          <span>Total Funciones: {{CountList()}}</span>
      </div>
  </div>
</div>
<app-footer />

