
<div class="row w-100 centrar">
    <div class="col-lg-6">
        <mat-form-field class=" w-100">
            <mat-label>Generos</mat-label>
            <mat-select [(value)]="idGenre" (selectionChange)="enviarVariable()">
                <div *ngIf="genreList">
                    <div *ngFor="let genre of genreList">
                        <mat-option [value]="genre.id">{{genre.name}}</mat-option>
                    </div>
                </div>
            </mat-select>
        </mat-form-field>
    </div>
<div>
