<div class="contenedor-principal">
    <div class="datatable-container mat-elevation-z20">
        <div class="header-tools">            
            <div class="search">
                <input type="text" class="search-input" placeholder="*Ingrese lo que desea buscar aqui"> 
            </div>   
        </div>
    
        <table class="datatable">
            <thead>
                <th>Pelicula</th>
                <th>Fecha Funcion</th>
                <th>Cantidad Entradas</th>
                <th>Estado</th>
                <th>Devolucion</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaTickets">
                    <td>{{item.nombrePelicula}}</td>
                    <td>{{item.fecha  | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{item.cantidadEntradas}}</td>
                    <td>
                        <span *ngIf="!compareDates(item.fecha)">Pendiente</span>
                        <span *ngIf="compareDates(item.fecha)">Terminado</span>
                    </td>
                    <td>
                        <button class="botonMaterial" (click)="DevolverTicket(item)">
                            <i class="material-icons" *ngIf="!compareDates(item.fecha)">undo</i>
                            <i class="material-icons" *ngIf="compareDates(item.fecha)">check</i>
                        </button>
                    </td>
                </tr>           
            </tbody>
        </table>
        <div class="footer-tools">
            <span>Total Tickets: {{CountList()}}</span>
        </div>
    </div>
</div>

