<div class="row">

  <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let movie of moviesList" style="background-color: #e3f2fd;">
        <div class="card p-4 m-3" style="width: 45rem;">
          <div *ngIf="movie.poster_path, else elseBlock">
            <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
          </div>
          <ng-template #elseBlock> <!--El else del ngIf de arriba-->
            <img class="card-img-top" [src]="'../../../../assets/noImage.jpg'" alt="" >
          </ng-template>
        <div class="card-body">
          <b>
            <h2 class="card-title">{{ movie.title }}</h2>
          </b>
          <p class="card-text"> {{ movie.overview }}</p>
        </div>
        <div class="card-action">
          <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button mat-fab extended color="primary" (click)="goToDetail(movie.id)">
                  <mat-icon>add</mat-icon>
                  DETALLES
                </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="example-button-container">
                <button matTooltip="LIKE" matTooltipClass="example-tooltip-uppercase"  mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                  <mat-icon>plus_one</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  