.contenedor-principal
{
    padding-top: 15rem;
    /*background-image: url('../../../../../assets/newYork.jpg');*/
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    height: 100%;
}

.datatable-container{
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--dt-background-color-container);
  border-radius: var(--dt-border-radius);
  color: var(--dt-text-color);
  width: 100rem;
  margin: 0 auto;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 2rem;
  border: solid 0rem var(--highlight-color);
}
.example-card {
    max-width: 800px;
    margin-bottom: 8px;
  }

  .example-header-image {
    background-size: cover;
  }

  .span-titulo
{
    color: rgb(21, 129, 251);
}