<owl-carousel-o  id="movieCarousel" [options]="customOptions">
        <ng-template  carouselSlide *ngFor="let movie of movies"  >           
            <div class="cardMovie" style="margin-left: 3rem; margin-right: 3rem;">
                <div class="d-flex justify-content-center" >
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                   style="height: 600px; width: 900px;" class="" alt="image">
                </div>
                <div class="carousel-caption">
                    <h2>
                        <strong>
                            {{ movie.title }}
                        </strong>
                    </h2>
                    <p class="descripcion">{{movie.overview}}</p>
                </div>
            </div>

        </ng-template>
</owl-carousel-o>

<!--
<div id="movieCarousel" class="carousel slide opacidad" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let movie of movies; let i = index" [class.active]="i == 0" >
            <div class="">
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path"  style="height: 600px; width: 70%;"  class="" alt="image">
                <div class="carousel-caption">
                    <h3>{{ movie.title }}</h3>
                    <p>{{movie.overview}}</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" role="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" role="button" data-bs-target="#movieCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

-->





