
<owl-carousel-o  [options]="customOptions">
    <div class="row" style="height: 50rem;">
        <div class="col-3 pading-card">
            <ng-template  carouselSlide>
                <app-card-movie /> 
            </ng-template>  
        </div>
        <div class="col-3 pading-card">
            <ng-template  carouselSlide>
                <app-card-movie /> 
            </ng-template>  
        </div>
        <div class="col-3 pading-card">
            <ng-template  carouselSlide>
                <app-card-movie /> 
            </ng-template>  
        </div>
        <div class="col-3 pading-card">
            <ng-template  carouselSlide>
                <app-card-movie /> 
            </ng-template>  
        </div>
    </div>
</owl-carousel-o>
    
