/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Raleway", sans-serif; }

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:after,*:before
{
    box-sizing: inherit;
}


body
{
    font-family: "RaleWay", sans-serif;
    margin: 0;
}



