
<nav class="contenedor-nav"style="background-color: #e3f2fd; padding: 10px 0">
    <div class="header-titulo">
        <img class="logo-app" src="assets/iconoCine2.png" alt="Logo"  >
        <header class="titulo">
            <h2>CineMaster <span class="span-titulo">Plus+</span></h2>
        </header>
    </div>
    <div class="navegacion">
        <!--Admin--> 
        <div class="usuario">
            <h2>¡Bienvenido <span class="span-titulo">{{userLogged.username!.toUpperCase()}}!</span> </h2>
        </div>
        <ng-container  *ngIf="isAdmin; else userLinks"> 
            <a href="">Inicio</a>

            <a href="/showtime/home">ABM Funciones</a>
            <a href="/cine/home-cine">Administrar Cines</a>
            <a href="/showtime/home">ABM Funciones</a>
            <a href="/user/list">Ver Usuarios</a>
        </ng-container>
        <!--User-->
        <ng-template #userLinks>
            <a href="">Inicio</a>
            <a href="/showtime/home">Ver Funciones</a>
            <a href="/ticket/home">Historial de Compras</a>
            <a href="/user/home">Perfil</a>
        </ng-template>

    </div>
    <button class="btn btn-outline-success" (click)="CloseSession()">CERRAR SESIÓN</button> 


   
</nav>




