/* Structure */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .example-container {
    position: relative;
    padding: 5px;
  }
  
  label {
    display: block;
    font-weight: bold;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

  .contenedor-principal {
    position: absolute;
    top: 0;
    left: 6;
    bottom: 56px;
    right: 0;
    background: rgba(184, 15, 15, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-flat-button {
    margin: 5px;
  }
  
  .datatable-container .header-tools {
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Añade esta línea */
  }
  
  
  .material-icons {
    font-size: 20px;
  }
  
  .contenedor-principal {
    padding-top: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .datatable-container {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 100rem;
    margin: 0 auto;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 2rem;
    border: solid 0rem var(--highlight-color);
  }
  
  .datatable-container .header-tools {
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .datatable-container .header-tools .search {
    width: 30%;
  }
  
  .datatable-container .header-tools .search .search-input {
    width: 100%;
    background-color: var(--dt-input-background-color);
    display: flex;
    justify-content: right;
    align-items: flex-end;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
  }

  .custom-dialog-title {
    font-size: 20px;
    background-color: #2196F3;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .custom-form {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  }

  
  .custom-button {
    background-color: #2196F3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 1rem;
  }
  
  .custom-button:hover {
    background-color: #0F5C9E;
  }
  
  .invisible-div {
    visibility: hidden;
  }

  .login-container {
    padding: 10px;
    text-align: center;
  }
  .form-group {
    text-align: left;
    margin: 10px 0;
  }
  .form-group-button{
    display: flex;
    flex-direction: row;
    align-items: self-end;
  }
  .login-box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 20px 50px 100px 50px rgba(10, 199, 233, 0.1);
    padding: 20px;
    text-align: center;
    height: 100%;
  }
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  #fotoEmailicon{
    width: 12%;
  }

.span-titulo
{
    color: rgb(21, 129, 251);
}

.login-box h2 {
  font-size: 24px;
  margin: 0 0 2px;
}

.login-box h3 {

  font-size: 18px;
  margin-bottom: 20px;
}
.error-message {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: red;
  font-size: 11px; /* Puedes ajustar el tamaño de fuente según tus necesidades */
  font-family: 'MontserratM', sans-serif;
 
}

.main-btn
{
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  padding: 10px 25px;
  background-color: #149ad8;
  border: 1px solid #149ad8;
  margin-right: 1rem;
  
}

.main-btn.second
{
  cursor: pointer;
  color: #1f1a35;
  background-color: transparent;
}