<div class="login-container">

  <div class="login-box">
    <h2>CineMaster <span class="span-titulo">Plus+</span></h2>
    <h3>Editar Datos del Usuario</h3>
  
    <form [formGroup]="editForm" class="user-info">
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"
          class="form-control"
          (blur)="ValidateUserName()"
        />
      </div>
      <div class="error-message" *ngIf="editForm.get('username')?.hasError('minlength')?.valueOf()">
        *El Nombre de Usuario debe tener MINIMO 5 caracteres.
      </div>
       <div class="error-message" *ngIf="editForm.get('username')?.hasError('userNameExists') && !editForm.get('username')?.hasError('required')">
        *Este Nombre de Usuario NO esta disponible.
      </div>
      <div class="error-message" *ngIf="editForm.get('username')?.touched  && editForm.get('username')?.hasError('required')">
        *El Nombre de Usuario es requerido.
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control"
          (blur)="ValidateEmail()"
        />
      </div>
      <div class="error-message" *ngIf="editForm.get('email')?.hasError('emailExists')">
        *Este correo electrónico ya existe.
      </div>
      <div class="error-message" *ngIf="editForm.get('email')?.touched  && editForm.get('email')?.hasError('required')">
        *El Email es requerido.
      </div>
      <div class="error-message" *ngIf="editForm.get('email')?.hasError('email')">
        *Respetar Formato del Email.
      </div>
      
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="form-control"
         
        />
      </div>
      <div class="error-message" *ngIf="editForm.get('password')?.touched  && editForm.get('password')?.hasError('required')">
        *La Contraseña es requerida.
      </div>
      <div class="error-message" *ngIf="editForm.get('password')?.hasError('minlength')?.valueOf()">
        *La Contraseña debe tener MINIMO 5 caracteres.
      </div>
  
      <!-- Otros campos según sea necesario -->
  
      <button class="main-btn"  (click)="saveUser()">Editar</button>
      <button class="main-btn second material" (click)="closeDialog()">Cancelar</button>
      
    </form>


  </div>
    
  </div>
  