
<nav class="contenedor-nav"style="background-color: #e3f2fd; padding: 10px 0;">
    <div class="d-flex justify-content-start align-items-center">
        <img class="logo-app" src="assets/iconoCine2.png" alt="Logo"  >
        <header class="titulo">
            <h2>CineMaster <span class="span-titulo">Plus+</span></h2>
        </header>
    </div>
    <div class="navegacion">
        <a href="">Inicio</a>
        <a href="/showtimeLanding/home">Ver Funciones</a>
    </div>
    <button class="btn btn-outline-success" (click)="InitSession()">INICIAR SESIÓN</button> 
</nav>



